<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fivesquare</title>
    <meta name="description" content="notes and lists">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="css/styles.min.css"> -->
    <!-- <script src="lib/modernizr/modernizr.js"></script> -->
  </head>
  <body>
  {% block content %}{% endblock %}
    <!-- <script data-main="js/main.min" src="lib/requirejs/require.js"></script> -->
  </body>
</html>

